<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :title %>
    <%= f.input :body %>

    <h3>Attachments</h3>

    <div id="attachments_form">
      <%= f.simple_fields_for :attachments do |a| %>
        <div class="attachment_form">
          <%= a.input :name%>
          <%= a.input :attachment%>
        </div>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
