
<p>
  <b>Title:</b>
  <%= @post.title %>
</p><p>
  <b>Slug:</b>
  <%= @post.slug %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<h3>Location</h3>
<% if @post.has_coordinates? %>
  <%= image_tag maps_url(@post.lat, @post.lng), :title => @post.location  %>
<% else %>
<% end %>
<h3>Attachments</h3>
<ul>
  <% @post.attachments.each do |attachment| %>
    <li><%= link_to attachment.name, attachment.attachment.url %></li>
  <% end %>

</ul>

<h3>Comments</h3>
<div id="comments">
  <%= render :collection => @post.comments.all, :partial=> "posts/comments/comment" %>
</div>

<h3>Leave your comment</h3>
<%= render :partial=> "posts/comments/form" %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
